In [48]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import numpy as np

#2010

url = "https://www.best-selling-cars.com/britain-uk/2010-britain-best-selling-car-models-in-the-uk/"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
ol_element = soup.find('ol')
list_items = ol_element.find_all('li')

data = []
for item in list_items:
    text = item.get_text(strip=True)
    make_model_sold = text.split('…')
    make_model = make_model_sold[0].strip()
    cars_sold = make_model_sold[1].strip()
    
    data.append((make_model, cars_sold, 2010))


#2011
    
url = f"https://www.best-selling-cars.com/britain-uk/2011-full-year-top-ten-best-selling-car-models-in-the-uk/"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
ol_element = soup.find('ol')
list_items = ol_element.find_all('li')

for item in list_items:
    text = item.get_text(strip=True)
    make_model_sold = text.split('–')
    make_model = make_model_sold[0].strip()
    cars_sold = make_model_sold[1].strip()
    
    data.append((make_model, cars_sold, 2011))


#2012

url = f"https://www.best-selling-cars.com/britain-uk/2012-full-year-britain-best-selling-car-models-in-the-uk/"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
ol_element = soup.find('ol').find('li').find('ol').find('ol')
list_items = ol_element.find_all('li')

for item in list_items:
    text = item.get_text(strip=True)
    make_model_sold = text.split('–')
    make_model = make_model_sold[0].strip()
    cars_sold = make_model_sold[1].strip()
    
    data.append((make_model, cars_sold, 2012))


#2013

url =f"https://www.best-selling-cars.com/britain-uk/2013-full-year-britain-best-selling-car-models-uk/"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find('table')
rows = table.find_all('tr')

for row in rows[1:11]:  # Skip the header row
    cols = row.find_all('td')
    brand_model = cols[1].text
    cars_sold = cols[2].text.strip().replace("’", ",")

    data.append((brand_model, cars_sold, 2013))


#2014-16 + 2018

years = list(range(2014, 2017)) + [2018]

for year in (years):

    url =f"https://www.best-selling-cars.com/britain-uk/{year}-full-year-britain-best-selling-car-models/"

    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find('table')
    rows = table.find_all('tr')

    for row in rows[1:11]:  # Skip the header row
        cols = row.find_all('td')
        brand_model = cols[1].text
        cars_sold = cols[2].text

        data.append((brand_model, cars_sold, str(year)))


#2017
        
driver = webdriver.Firefox()

driver.get("https://www.best-selling-cars.com/britain-uk/2017-full-year-britain-top-ten-best-selling-car-models/")
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')
table = soup.find('table')
rows = table.find_all('tr')


for row in rows[1:11]:
    cols = row.find_all('td')
    brand_model = cols[1].text
    cars_sold = cols[2].text

    data.append((brand_model, cars_sold, 2017))

driver.quit()


#2019-23

years = range(2019, 2024)

for year in (years):
    url =f"https://www.best-selling-cars.com/britain-uk/{year}-full-year-britain-best-selling-car-models-in-the-uk/"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find('table')
    rows = table.find_all('tr')

    for row in rows[1:11]:
        cols = row.find_all('td')
        brand_model = cols[1].text
        cars_sold = cols[2].text

        data.append((brand_model, cars_sold, str(year)))

#Some of the make and model names are inconsistent across years
corrections = {
    'Mercedes Benz A Class': 'Mercedes-Benz A Class', 'Mercedes-Benz A-Class': 'Mercedes-Benz A Class',
    'Mercedes C Class': 'Mercedes-Benz C Class', 'MINI': 'MINI Mini', 'Mini': 'MINI Mini'}
corrected_data = [(corrections.get(brand_model, brand_model), cars_sold, year) for brand_model, cars_sold, year in data]

#Create df and pivot to correct format
top_ten_by_year_df = pd.DataFrame(corrected_data, columns = ['model', 'number_sold', 'year'])
pivot_top_ten_by_year_df = top_ten_by_year_df.pivot(index='model', columns='year')
pivot_top_ten_by_year_df.index = pivot_top_ten_by_year_df.index.map(lambda x: ' '.join(x.split()[1:]))
pivot_top_ten_by_year_df.columns = pivot_top_ten_by_year_df.columns.droplevel(0)

#Remove sales figures for Teslas in 2021 and 2022
pivot_top_ten_by_year_df.loc[['Model Y', 'Model 3']] = np.nan

#Change the index label to match rest of code
pivot_top_ten_by_year_df.index.name = 'Model'
pivot_top_ten_by_year_df = pivot_top_ten_by_year_df.apply(lambda x: x.str.replace(',', '').astype('Int64'))
pivot_top_ten_by_year_df.to_csv('sales_data.csv', index_label=None)
print(pivot_top_ten_by_year_df)

year        2010   2011    2012    2013   2017    2014    2015    2016   2018  \
Model
A3          <NA>   <NA>    <NA>    <NA>   <NA>   45581   47653   43808   <NA>
1 Series    <NA>   <NA>   34488   41883   <NA>    <NA>    <NA>    <NA>   <NA>
3 Series   42020  42471   44521   43494   <NA>    <NA>    <NA>    <NA>   <NA>
500         <NA>   <NA>    <NA>    <NA>   <NA>   44005    <NA>    <NA>   <NA>
Fiesta    103013  96112  109265  121929  94533  131254  133434  120525  95892
Focus      77804  81832   83115   87350  69903   85140   83816   70545  50492
Kuga        <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>  40398
Puma        <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Tucson      <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Sportage    <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>  35567
Mini       41883  35845    <NA>    <NA>  47669    <NA>   47075   48328  44904
A Class     <NA>   <NA>    <NA>    <NA>  43717    <NA>    <NA>    <NA>  43527
C Class     <NA>   <NA>   37261    <NA>  45912    <NA>    <NA>   44184   <NA>
Juke        <NA>   <NA>    <NA>    <NA>   <NA>   39263    <NA>    <NA>   <NA>
Qashqai    39048  39406   45675   50211  64216   49909   60814   62682  50546
207        42185   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
208         <NA>   <NA>    <NA>   38616   <NA>    <NA>    <NA>    <NA>   <NA>
Model 3     <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Model Y     <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Yaris       <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Astra      80646  62575   63023   68070  49370   59689   52703   60719   <NA>
Corsa      77398  77751   89434   84275  52772   81783   92077   77110  52915
Insignia    <NA>  46324    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Mokka       <NA>   <NA>    <NA>    <NA>   <NA>    <NA>   45399    <NA>   <NA>
Golf       58116  63368   62021   64951  74605   73880   73409   69492  64829
Polo       45517  45992   41901   42609  47855   48004   54900   54448  45149
XC40        <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>

year       2019   2020   2021   2022   2023
Model
A3         <NA>   <NA>   <NA>   <NA>  30159
1 Series   <NA>   <NA>   <NA>   <NA>   <NA>
3 Series   <NA>   <NA>   <NA>   <NA>   <NA>
500        <NA>   <NA>   <NA>   <NA>   <NA>
Fiesta    77833  49174   <NA>  25070   <NA>
Focus     56619  39372   <NA>   <NA>   <NA>
Kuga      41671   <NA>   <NA>  26549   <NA>
Puma       <NA>  26294  28697  35088  49591
Tucson     <NA>   <NA>   <NA>  27839  34469
Sportage  34502   <NA>  27611  29655  36135
Mini      41188  31233  31792  32387  33385
A Class   53724  37608  30710   <NA>   <NA>
C Class    <NA>   <NA>   <NA>   <NA>   <NA>
Juke       <NA>   <NA>   <NA>   <NA>  31745
Qashqai   52532  33972  29922  42704  43321
207        <NA>   <NA>   <NA>   <NA>   <NA>
208        <NA>   <NA>   <NA>   <NA>   <NA>
Model 3    <NA>   <NA>   <NA>   <NA>   <NA>
Model Y    <NA>   <NA>   <NA>   <NA>   <NA>
Yaris      <NA>   <NA>  27415   <NA>   <NA>
Astra      <NA>   <NA>   <NA>   <NA>   <NA>
Corsa     54239  46439  40914  35910  40816
Insignia   <NA>   <NA>   <NA>   <NA>   <NA>
Mokka      <NA>   <NA>   <NA>   <NA>  29984
Golf      58994  43109  30240  26558   <NA>
Polo      37453  26965  30634   <NA>   <NA>
XC40       <NA>  25023   <NA>   <NA>   <NA>

In [44]:
print(pivot_top_ten_by_year_df)

year        2010   2011    2012    2013   2017    2014    2015    2016   2018  \
model
A3          <NA>   <NA>    <NA>    <NA>   <NA>   45581   47653   43808   <NA>
1 Series    <NA>   <NA>   34488   41883   <NA>    <NA>    <NA>    <NA>   <NA>
3 Series   42020  42471   44521   43494   <NA>    <NA>    <NA>    <NA>   <NA>
500         <NA>   <NA>    <NA>    <NA>   <NA>   44005    <NA>    <NA>   <NA>
Fiesta    103013  96112  109265  121929  94533  131254  133434  120525  95892
Focus      77804  81832   83115   87350  69903   85140   83816   70545  50492
Kuga        <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>  40398
Puma        <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Tucson      <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Sportage    <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>  35567
Mini       41883  35845    <NA>    <NA>  47669    <NA>   47075   48328  44904
A Class     <NA>   <NA>    <NA>    <NA>  43717    <NA>    <NA>    <NA>  43527
C Class     <NA>   <NA>   37261    <NA>  45912    <NA>    <NA>   44184   <NA>
Juke        <NA>   <NA>    <NA>    <NA>   <NA>   39263    <NA>    <NA>   <NA>
Qashqai    39048  39406   45675   50211  64216   49909   60814   62682  50546
207        42185   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
208         <NA>   <NA>    <NA>   38616   <NA>    <NA>    <NA>    <NA>   <NA>
Model 3     <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Model Y     <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Yaris       <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Astra      80646  62575   63023   68070  49370   59689   52703   60719   <NA>
Corsa      77398  77751   89434   84275  52772   81783   92077   77110  52915
Insignia    <NA>  46324    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>
Mokka       <NA>   <NA>    <NA>    <NA>   <NA>    <NA>   45399    <NA>   <NA>
Golf       58116  63368   62021   64951  74605   73880   73409   69492  64829
Polo       45517  45992   41901   42609  47855   48004   54900   54448  45149
XC40        <NA>   <NA>    <NA>    <NA>   <NA>    <NA>    <NA>    <NA>   <NA>

year       2019   2020   2021   2022   2023
model
A3         <NA>   <NA>   <NA>   <NA>  30159
1 Series   <NA>   <NA>   <NA>   <NA>   <NA>
3 Series   <NA>   <NA>   <NA>   <NA>   <NA>
500        <NA>   <NA>   <NA>   <NA>   <NA>
Fiesta    77833  49174   <NA>  25070   <NA>
Focus     56619  39372   <NA>   <NA>   <NA>
Kuga      41671   <NA>   <NA>  26549   <NA>
Puma       <NA>  26294  28697  35088  49591
Tucson     <NA>   <NA>   <NA>  27839  34469
Sportage  34502   <NA>  27611  29655  36135
Mini      41188  31233  31792  32387  33385
A Class   53724  37608  30710   <NA>   <NA>
C Class    <NA>   <NA>   <NA>   <NA>   <NA>
Juke       <NA>   <NA>   <NA>   <NA>  31745
Qashqai   52532  33972  29922  42704  43321
207        <NA>   <NA>   <NA>   <NA>   <NA>
208        <NA>   <NA>   <NA>   <NA>   <NA>
Model 3    <NA>   <NA>   <NA>   <NA>   <NA>
Model Y    <NA>   <NA>   <NA>   <NA>   <NA>
Yaris      <NA>   <NA>  27415   <NA>   <NA>
Astra      <NA>   <NA>   <NA>   <NA>   <NA>
Corsa     54239  46439  40914  35910  40816
Insignia   <NA>   <NA>   <NA>   <NA>   <NA>
Mokka      <NA>   <NA>   <NA>   <NA>  29984
Golf      58994  43109  30240  26558   <NA>
Polo      37453  26965  30634   <NA>   <NA>
XC40       <NA>  25023   <NA>   <NA>   <NA>