# Jupyter notebook
## Data cleaning and transformation
Minimal checking of the datasets was required.

In [10]:
import pandas as pd
import os

In [5]:
df = pd.read_csv('Ember_global electricity_2022.csv')
df_region = df.loc [df ['Area type'] == 'Region']
print(df_region['Area'].unique())

['Africa' 'ASEAN' 'Asia' 'EU' 'Europe' 'G20' 'G7'
 'Latin America and Caribbean' 'Middle East' 'North America' 'Oceania'
 'OECD' 'World']

In [6]:
df.isnull ().sum (axis=0)

Area                        0
Country code            19602
Year                        0
Area type                   0
Continent               19602
Ember region            19602
EU                      19602
OECD                    19602
G20                     19602
G7                      19602
ASEAN                   19602
Category                    0
Subcategory                 0
Variable                    0
Unit                        0
Value                   20281
YoY absolute change    105435
YoY % change           185589
dtype: int64

In [8]:
df.isna().sum()

Area                        0
Country code            19602
Year                        0
Area type                   0
Continent               19602
Ember region            19602
EU                      19602
OECD                    19602
G20                     19602
G7                      19602
ASEAN                   19602
Category                    0
Subcategory                 0
Variable                    0
Unit                        0
Value                   20281
YoY absolute change    105435
YoY % change           185589
dtype: int64

In [7]:
df.describe()

,Year,EU,OECD,G20,G7,ASEAN,Value,YoY absolute change,YoY % change
count,331846.000000,312244.000000,312244.000000,312244.000000,312244.000000,312244.000000,311565.000000,226411.000000,146257.000000
mean,2010.717905,0.131250,0.182819,0.089693,0.033698,0.046464,65.610708,1.868159,9.646521
std,6.466282,0.337674,0.386518,0.285741,0.180451,0.210487,561.767847,25.968933,163.013167
min,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-77.030000,-611.460000,-51275.000000
25%,2005.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2011.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.190000,0.000000,0.940000
75%,2016.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.970000,0.050000,9.000000
max,2022.000000,1.000000,1.000000,1.000000,1.000000,1.000000,28657.030000,1556.100000,10500.000000

In [11]:
filepath_gdp = os.path.join(os.getcwd(), 'GDP per capita World Bank', 'API_NY.GDP.PCAP.CD_DS2_en_csv_v2_5994720.csv')
gdp_df = pd.read_csv(filepath_gdp)

In [12]:
gdp_df.isna().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              134
                 ...
2018                8
2019                8
2020                8
2021               14
2022               32
Length: 67, dtype: int64

In [14]:
gdp_df['2022'].isna()

0       True
1      False
2       True
3      False
4      False
       ...
261    False
262    False
263    False
264    False
265    False
Name: 2022, Length: 266, dtype: bool